<div>
  <!-- Stats -->
  <div class="flex justify-end mb-5">
    <p class="text-sm">
      عرض النتائج من {{ res.from }} إلى {{ res.to }} من إجمالي
      {{ res.total }} نتيجة.
    </p>
  </div>

  <!-- Pagination -->
  <div class="flex justify-center">
    <div class="flex ring-1 ring-slate-200 rounded h-10 w-fit">
      <!-- Previous -->
      <div
        class="flex justify-center items-center gap-3 border-e-2 border-slate-200 px-5"
        [ngClass]="
          res.prev_page_url ? ' text-black cursor-pointer' : 'text-slate-500'
        "
        (click)="setPage(res.prev_page_url)"
      >
        <fa-icon [icon]="icons.prev"></fa-icon>
        <p>السابق</p>
      </div>

      <!-- Pages -->
      @if( links.length <= 4) { @for (link of links ; track $index) {
      <div
        [ngClass]="link.active ? 'text-blue-700' : 'text-slate-500'"
        class="flex items-center border-e-2 border-slate-200 px-5 cursor-pointer hover:text-blue-700"
        (click)="setPage(link.url)"
      >
        {{ link.label }}
      </div>
      } } @else { @if (res.current_page < 3) { @for (link of links.slice(0,5);
      track $index) {
      <div
        [ngClass]="link.active ? 'text-blue-700' : 'text-slate-500'"
        class="flex items-center border-e-2 border-slate-200 px-5 cursor-pointer hover:text-blue-700"
        (click)="setPage(link.url)"
      >
        {{ link.label }}
      </div>
      } } @else { @for (link of links.slice(res.current_page -3,res.current_page
      +2); track $index) {
      <div
        [ngClass]="link.active ? 'text-blue-700' : 'text-slate-500'"
        class="flex items-center border-e-2 border-slate-200 px-5 cursor-pointer hover:text-blue-700"
        (click)="setPage(link.url)"
      >
        {{ link.label }}
      </div>
      } } }

      <!-- Next -->
      <div
        class="flex justify-center items-center gap-3 px-5"
        [ngClass]="
          res.next_page_url ? ' text-black cursor-pointer' : 'text-slate-500'
        "
        (click)="setPage(res.next_page_url)"
      >
        <p>التالي</p>
        <fa-icon [icon]="icons.next"></fa-icon>
      </div>
    </div>
  </div>
</div>
