<section>
  <div class="flex justify-between">
    <app-heading message="العقود المسجلة"></app-heading>
    <div>
      <select (change)="filterContracts($event)">
        <option value="all">عرض كل العقود المسجلة</option>
        <option value="unpaid">عرض العقود الغير مكتملة الدفع</option>
        <option value="expires-soon">عرض العقود الموشكة على الإنتهاء</option>
        <option value="expired">عرض العقود المنتهية والغير مجددة</option>
      </select>
    </div>
  </div>

  @if (isLoading) {
  <app-loading></app-loading>
  } @else { @if (contracts.length ===0) {
  <app-empty-state></app-empty-state>
  } @else {
  <form
    [formGroup]="searchForm"
    (ngSubmit)="search()"
    class="flex justify-center items-center gap-5 w-full mb-3"
  >
    <input
      type="text"
      placeholder="ابحث برقم العقد..."
      id="contract_number"
      name="contract_number"
      formControlName="contract_number"
      class="w-full"
    />
    <button type="submit" [disabled]="searchForm.invalid">بحث</button>
  </form>
  <div class="w-full overflow-x-auto">
    <table class="mb-10 text-nowrap">
      <thead>
        <th>رقم العقد</th>
        <th>اسم المتعاقد</th>
        <th>رقم الجوال</th>
        <th>البريد الإلكتروني</th>
        <th>تاريخ التعاقد</th>
        <th>قيمة العقد</th>
        <th>حالة الدفع</th>
        <th>تحميل العقد</th>
        <th>تعديل بيانات العقد</th>
        <th>حذف العقد</th>
      </thead>
      <tbody>
        @for (contract of contracts; track contract.id) {
        <tr>
          <td>
            {{ contract.id }}
          </td>
          <td>
            {{ contract.name }}
          </td>
          <td>{{ contract.phone }}</td>
          <td>{{ contract.email }}</td>
          <td>{{ contract.contract_date }}</td>
          <td>{{ contract.total_price }} ريال سعودي</td>
          <td>
            <div
              class="px-5 py-1 text-white rounded"
              [ngClass]="contract.is_paid ? 'bg-teal-500' : 'bg-rose-600'"
            >
              {{ contract.is_paid ? "مدفوع" : "غير مدفوع" }}
            </div>
          </td>
          <td>
            <fa-icon
              [icon]="icons.download"
              class="text-teal-700 hover:text-teal-400 cursor-pointer"
              (click)="generateContract(contract)"
            ></fa-icon>
          </td>
          <td>
            <fa-icon
              [icon]="icons.edit"
              class="text-yellow-700 hover:text-orange-400 cursor-pointer"
              (click)="edit(contract.id)"
            ></fa-icon>
          </td>
          <td>
            <fa-icon
              [icon]="icons.delete"
              class="text-rose-700 hover:text-rose-400 cursor-pointer"
              (click)="delete(contract.id)"
            ></fa-icon>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <app-pagination [res]="res" (newPageEvent)="setPage($event)"></app-pagination>
  } }
</section>
@if (successMessage) {
<app-success-message [message]="successMessage"></app-success-message>
} @if (errorMessage) {
<app-error-message [message]="errorMessage"></app-error-message>
}
<app-contract-pdf [data]="contractData"></app-contract-pdf>
