<section>
  <h3 class="text-xl mb-10">إنشاء كوبون خصم جديد</h3>

  <form
    [formGroup]="promocodeForm"
    (ngSubmit)="addPromocode()"
    class="grid grid-cols-1 md:grid-cols-2 gap-5"
  >
    <div>
      <label for="promocode">كود الخصم</label>
      <input
        type="text"
        id="promocode"
        name="promocode"
        formControlName="promocode"
        placeholder="ادخل كود الخصم المراد إنشاؤه"
        class="ring-1 ring-slate-300"
      />
      @if (promocode.invalid && (promocode.touched || promocode.dirty)) {
      <div>
        <p class="text-rose-700">هذا الحقل إلزامي.</p>
      </div>
      }
    </div>

    <div>
      <label for="discount">نسبة الخصم</label>
      <input
        type="text"
        id="discount"
        name="discount"
        formControlName="discount"
        placeholder="ادخل نسبة الخصم"
        class="ring-1 ring-slate-300"
      />
      @if (discount.invalid && (discount.touched || discount.dirty)) {
      <div>
        <p *ngIf="discount.hasError('required')" class="text-rose-700">
          هذا الحقل إلزامي.
        </p>
        <p *ngIf="discount.hasError('pattern')" class="text-rose-700">
          أدخل أرقام فقط.
        </p>
      </div>
      }
    </div>
    <div>
      <label for="start_date">تاريخ البداية</label>
      <input
        type="date"
        id="start_date"
        name="start_date"
        formControlName="start_date"
        class="ring-1 ring-slate-300"
      />
      @if (start_date.invalid && (start_date.touched || start_date.dirty)) {
      <div>
        <p class="text-rose-700">هذا الحقل إلزامي.</p>
      </div>
      }
    </div>
    <div>
      <label for="expiry_date">تاريخ الإنتهاء</label>
      <input
        type="date"
        id="expiry_date"
        name="expiry_date"
        formControlName="expiry_date"
        class="ring-1 ring-slate-300"
      />
      @if (expiry_date.invalid && (expiry_date.touched || expiry_date.dirty)) {
      <div>
        <p class="text-rose-700">هذا الحقل إلزامي.</p>
      </div>
      }
    </div>

    <div class="col-span-2 flex justify-center">
      <button type="submit" [disabled]="promocodeForm.invalid">إضافة</button>
    </div>
  </form>
</section>
@if (successMessage) {
<app-success-message [message]="successMessage"></app-success-message>
} @if (errorMessage) {
<app-error-message [message]="errorMessage"></app-error-message>
}
