<section>
  <h3 class="text-xl mb-10">العقود المسجلة</h3>

  @if (isContractsLoaded) { @if (contracts.length === 0) {
  <div class="w-full container rounded-lg ring-1 ring-slate-200 py-10">
    <p class="text-center">عفواً، لا توجد عقود مسجلة حتى الآن.</p>
  </div>
  } @else {
  <div class="table-container">
    <table class="w-full">
      <thead>
        <tr>
          <th>رقم العقد</th>
          <th>اسم الشركة</th>
          <th>تحميل العقد</th>
        </tr>
      </thead>

      <tbody>
        @for (contract of contracts; track contract.id) {
        <tr>
          <td>{{ contract.contract_number }}</td>
          <td>{{ contract.name }}</td>
          <td class="flex justify-center items-center">
            <div
              class="text-blue-700 cursor-pointer w-fit h-fit mt-2"
              (click)="generateContract()"
            >
              <fa-icon [icon]="icons.arrowDown"></fa-icon>
            </div>
          </td>
          <app-contract-pdf [data]="contract" />
        </tr>

        }
      </tbody>
    </table>
  </div>
  } }
</section>
