@if (isLoading) {
<app-loading></app-loading>
} @else {
<app-heading message="جميع الأعضاء"></app-heading>
@if(users.length == 0) {
<app-empty-state></app-empty-state>
} @else {
<form
  [formGroup]="searchForm"
  (ngSubmit)="search()"
  class="flex justify-center items-center gap-5 w-full mb-3"
>
  <input
    type="text"
    placeholder="ابحث بالاسم أو البريد الإلكتروني..."
    id="user"
    name="user"
    formControlName="user"
    class="w-full"
  />
  <button type="submit" [disabled]="searchForm.invalid">بحث</button>
</form>
<div class="w-full overflow-x-auto">
  <table class="mb-5 w-full text-nowrap">
    <thead>
      <th>اسم العضو</th>
      <th>رقم الجوال</th>
      <th>البريد الإلكتروني</th>
      <th>حالة تفعيل البريد الإلكتروني</th>
      <th>المرحلة</th>
      <th>عدد الشركات</th>
      <th>عدد العقود</th>
      <th>حذف العضو</th>
      <th>حظر العضو</th>
    </thead>
    <tbody>
      @for (user of users; track $index) {
      <tr class="cursor-pointer">
        <td (click)="showMember(user.id)">{{ user.name }}</td>
        <td (click)="showMember(user.id)">{{ user.phone }}</td>
        <td (click)="showMember(user.id)">{{ user.email }}</td>
        <td (click)="showMember(user.id)">
          {{ user.email_verified_at ? "مفعل" : "غير مفعل" }}
        </td>
        <td (click)="showMember(user.id)">
          @switch (user.stage) { @case ('1') {
          <p>التسجيل</p>
          } @case ('2') {
          <p>التفعيل</p>
          } @case ('3') {
          <p>الدفع</p>
          } @case ('4') {
          <p>إصدار العقد</p>
          } }
        </td>
        <td (click)="showMember(user.id)">{{ user.companies.length }}</td>
        <td (click)="showMember(user.id)">{{ user.contracts.length }}</td>
        <td>
          <fa-icon
            [icon]="icons.delete"
            class="text-rose-700 hover:text-rose-500 cursor-pointer w-fit h-fit"
            (click)="delete(user.id)"
          ></fa-icon>
        </td>
        <td>
          <fa-icon
            [icon]="icons.block"
            class="text-rose-700 hover:text-rose-500 cursor-pointer w-fit h-fit"
            (click)="block(user.id)"
          ></fa-icon>
        </td>
      </tr>

      }
    </tbody>
  </table>
</div>
<app-pagination [res]="res" (newPageEvent)="setPage($event)"></app-pagination>}
@if (successMessage) {
<app-success-message [message]="successMessage"></app-success-message>
} @if (errorMessage) {
<app-error-message [message]="errorMessage"></app-error-message>
} }
