<section>
  <!-- Heading -->
  <app-heading message="تعديل بيانات العقد رقم {{ id }}"> </app-heading>
  <!-- Contract Form -->
  <form
    [formGroup]="contractForm"
    (ngSubmit)="updateContract()"
    class="grid grid-cols-1 md:grid-cols-2 gap-10"
  >
    <!-- Name -->
    <div>
      <label for="name">اسم العميل</label>
      <input type="text" id="name" name="name" formControlName="name" />
    </div>

    <!-- Phone -->
    <div>
      <label for="phone">رقم الجوال</label>
      <input type="text" id="phone" name="phone" formControlName="phone" />
    </div>

    <!-- Email -->
    <div>
      <label for="email">البريد الإلكتروني</label>
      <input type="text" id="email" name="email" formControlName="email" />
    </div>

    <!-- Commercial Number -->
    <div>
      <label for="commercial_number">رقم السجل التجاري</label>
      <input
        type="text"
        id="commercial_number"
        name="commercial_number"
        formControlName="commercial_number"
      />
    </div>

    <!-- Address -->
    <div>
      <label for="address">العنوان</label>
      <input
        type="text"
        id="address"
        name="address"
        formControlName="address"
      />
    </div>

    <!-- Indoor Cameras -->
    <div>
      <label for="indoor_cameras">عدد الكاميرات الداخلية</label>
      <input
        type="text"
        id="indoor_cameras"
        name="indoor_cameras"
        formControlName="indoor_cameras"
      />
    </div>

    <!-- Outdoor Cameras -->
    <div>
      <label for="outdoor_cameras">عدد الكاميرات الخارجية</label>
      <input
        type="text"
        id="outdoor_cameras"
        name="outdoor_cameras"
        formControlName="outdoor_cameras"
      />
    </div>

    <!-- Storage Device -->
    <div>
      <label for="storage_device">نوع وحدة التخزين</label>
      <input
        type="text"
        id="storage_device"
        name="storage_device"
        formControlName="storage_device"
      />
    </div>

    <!-- Period of Record -->
    <div>
      <label for="period_of_record">مدة التسجيل</label>
      <input
        type="text"
        id="period_of_record"
        name="period_of_record"
        formControlName="period_of_record"
      />
    </div>

    <!-- Show Screens -->
    <div>
      <label for="show_screens">عدد شاشات العرض</label>
      <input
        type="text"
        id="show_screens"
        name="show_screens"
        formControlName="show_screens"
      />
    </div>

    <!-- Camera Type -->
    <div>
      <label for="camera_type">نوع الكاميرات</label>
      <input
        type="text"
        id="camera_type"
        name="camera_type"
        formControlName="camera_type"
      />
    </div>

    <!-- Price -->
    <div>
      <label for="price">السعر شامل ضريبة القيمة المضافة</label>
      <input type="text" id="price" name="price" formControlName="price" />
    </div>

    <!-- Contract Date -->
    <div>
      <label for="contract_date"> تاريخ التعاقد </label>
      <input
        type="date"
        id="contract_date"
        name="contract_date"
        formControlName="contract_date"
      />
    </div>

    <!-- Expiry Date -->
    <div>
      <label for="expiry_date">تاريخ انتهاء العقد</label>
      <input
        type="date"
        id="expiry_date"
        name="expiry_date"
        formControlName="expiry_date"
      />
    </div>

    <!-- Submit Button -->
    <button
      type="submit"
      [disabled]="contractForm.invalid"
      class="md:col-span-2"
    >
      حفظ
    </button>
  </form>
</section>
@if (successMessage) {
<app-success-message [message]="successMessage"></app-success-message>
} @if (errorMessage) {
<app-error-message [message]="errorMessage"></app-error-message>
}
