<app-navbar></app-navbar>
<div class="container flex gap-10 pt-10">
  <!-- Sidebar -->
  <aside
    class="pt-10 rounded-lg overflow-hidden ring-1 ring-slate-200 shadow-lg w-fit flex flex-col justify-between"
  >
    <div class="container flex flex-col gap-5 mb-10">
      @for (item of sidebarItems; track item.id) {
      <a [routerLink]="item.path" routerLinkActive="active"
        >{{ item.title }}
      </a>
      }
    </div>
    <div>
      <img src="assets/images/footer.png" alt="abstract blue background" />
    </div>
  </aside>
  <main
    class="py-10 rounded-lg overflow-hidden container ring-1 ring-slate-200 shadow-lg w-full"
  >
    <router-outlet></router-outlet>
  </main>
</div>
<app-footer></app-footer>
