<section
  class="flex justify-center items-center w-full py-20 bg-slate-100 text-slate-500"
>
  <div
    class="rign-1 ring-slate-100 shadow-lg container rounded-lg grid grid-cols-1 gap-5 py-10 w-fit bg-white"
  >
    <div class="flex justify-center">
      <img
        src="assets/images/logo-colored.png"
        alt="Logo"
        width="60"
        height="60"
      />
    </div>
    <form
      [formGroup]="loginForm"
      (ngSubmit)="login()"
      class="grid grid-cols-1 gap-5"
    >
      <div>
        <label for="email">البريد الإلكتروني</label>
        <input
          type="text"
          id="email"
          name="email"
          formControlName="email"
          placeholder="name@email.com"
          class="ring-1 ring-slate-200 w-80 rounded"
        />
        <div *ngIf="email.invalid && (email.touched || email.dirty)">
          <p *ngIf="email.hasError('required')" class="text-rose-700">
            هذا الحقل مطلوب.
          </p>
          <p *ngIf="email.hasError('email')" class="text-rose-700">
            البريد الإلكتروني غير صالح.
          </p>
        </div>
      </div>

      <div>
        <label for="password">كلمة المرور</label>
        <input
          type="password"
          id="password"
          name="password"
          formControlName="password"
          placeholder="******"
          class="ring-1 ring-slate-200 w-80 rounded"
        />
        <div *ngIf="password.invalid && (password.touched || password.dirty)">
          <p *ngIf="password.hasError('required')" class="text-rose-700">
            هذا الحقل مطلوب.
          </p>
        </div>
      </div>
      <div class="flex justify-center">
        <button type="submit" [disabled]="loginForm.invalid">
          تسجيل الدخول
        </button>
      </div>
    </form>

    <!-- Error message -->
    <div
      *ngIf="errorMessage"
      class="w-full rounded-lg py-3 bg-rose-700 text-white text-center mt-5"
    >
      <p>
        {{ errorMessage }}
      </p>
    </div>
  </div>
</section>
<app-footer></app-footer>
