<section class="grid grid-cols-1 gap-10">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-10">
    @for (item of overviewData; track item.id) {
    <div
      class="flex flex-col justify-center items-center gap-5 rounded shadow ring-1 ring-slate-200 py-5"
    >
      <fa-icon [icon]="item.icon" class="text-4xl text-blue-700"></fa-icon>
      <p>{{ item.title }}</p>
      <p>{{ item.count }}</p>
    </div>
    }
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
    @for (item of contractData; track item.id) {
    <div
      class="flex flex-col justify-center items-center gap-5 rounded shadow ring-1 ring-slate-200 p-5 text-center"
    >
      <fa-icon [icon]="item.icon" class="text-4xl text-blue-700"></fa-icon>
      <p>{{ item.title }}</p>
      <p>{{ item.count }}</p>
    </div>
    }
  </div>
</section>
