thead tr {
  background: linear-gradient(
    337deg,
    rgba(34, 42, 166, 1) 0%,
    rgba(104, 132, 253, 1) 100%
  );
  color: white;
}
tbody tr:nth-child(odd) {
  background-color: #dbeafe;
}

tbody tr:nth-child(even) {
  background-color: #eff6ff;
}
tr {
  height: 40px;
}
tbody tr:hover {
  background-color: #bfdbfe;
  cursor: pointer;
}
