<section>
  <h3 class="text-xl mb-10">طلبات الزيارة</h3>

  @if (isVisitRequestsLoaded) {
  <div>
    @if (visitRequests.length === 0) {
    <p class="text-center">عفواً، لا يوجد طلبات زيارة.</p>
    } @else {
    <table class="w-full text-center">
      <thead>
        <tr>
          <th>اسم العميل</th>
          <th>البريد الإلكتروني</th>
          <th>رقم الجوال</th>
          <th>تاريخ تقديم الطلب</th>
          <th>اتمام</th>
        </tr>
      </thead>

      <tbody>
        @for (request of visitRequests; track request.id) {
        <tr>
          <td>{{ request.name }}</td>
          <td>{{ request.email }}</td>
          <td>{{ request.phone }}</td>
          <td>{{ request.created_at.slice(0, 10) }}</td>
          <td class="flex justify-center items-center">
            <div
              class="w-fit h-fit mt-2"
              (click)="deleteVisitRequest(request.id)"
            >
              <fa-icon [icon]="icons.complete" class="text-teal-500"> </fa-icon>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
    }
  </div>
  }
</section>
