<app-heading message="طلبات الزيارة المفتوحة"></app-heading>

@if(isLoading) {
<app-loading></app-loading>
} @else{ @if (requests.length === 0) {
<app-empty-state></app-empty-state>
} @else {
<div class="w-full overflow-x-auto">
  <table class="mb-5 w-full text-nowrap">
    <thead>
      <th>اسم مقدم الطلب</th>
      <th>رقم الجوال</th>
      <th>البريد الإلكتروني</th>
      <th>حالة الطلب</th>
      <th>غلق الطلب</th>
    </thead>
    <tbody>
      @for (req of requests; track $index) {
      <tr>
        <td>{{ req.name }}</td>
        <td>{{ req.phone }}</td>
        <td>{{ req.email }}</td>
        <td>{{ req.status == "open" ? "مفتوح" : "مغلق" }}</td>
        <td>
          <fa-icon
            [icon]="icons.close"
            class="text-teal-400 cursor-pointer"
            (click)="closeTicket(req.id)"
          ></fa-icon>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
}
<app-pagination [res]="res" (newPageEvent)="setPage($event)"></app-pagination>
@if (successMessage) {
<app-success-message [message]="successMessage"></app-success-message>
} @if (errorMessage) {
<app-error-message [message]="errorMessage"></app-error-message>
} }
